<header id="header" ng-controller="headerController">

    <div class="dark-body animated fade-in" ng-show="isMenuOpen" ng-click="closeMenu()"></div>

    <div class="header">
        <img class="go-back-icon" src="img/voltar-icon.png" alt="Voltar" ng-click="goBack()">
        
        <h1 class="title-header">{{pageTitle}}</h1>

        <div class="alert-div">
            <span class="alert-number" style="display: none;">5</span>
            <img class="menu-icon" src="img/menu-icon.png" alt="Menu" ng-click="openMenu()">
        </div>
    </div>

    <div id="menu" class="menu">

        <div class="menu-header">
            <h1 class="title-header">NOME DO USUÁRIO</h1>
        </div>

        <ul class="menu-list">
            
            <a href="#/player">
                <li class="menu-link white" ng-class="{'active' : pathPage == '/player'}" ng-click="closeMenu()">
                    <div class="menu-icon-container">
                        <img class="full-img" src="img/icon-home.png" alt="Player">
                    </div>
                    PLAYER
                </li>
            </a>
            <a href="#/aula">
                <li class="menu-link white" ng-class="{'active' : pathPage == '/aula'}" ng-click="closeMenu()">
                    <div class="menu-icon-container">
                        <img class="full-img" src="img/icon-songs.png" alt="Aulas">
                    </div>
                    AULAS
                </li>
            </a>
            <a href="#/cd">
                <li class="menu-link white" ng-class="{'active' : pathPage == '/cd'}" ng-click="closeMenu()">
                    <div class="menu-icon-container">
                        <img class="full-img" src="img/icon-playlist.png" alt="CDs">
                    </div>
                    CDs
                </li>
            </a>
            <li class="menu-link white" ng-click="logout()">
                <div class="menu-icon-container">
                    <img class="full-img" src="img/icon-logout.png" alt="Sair">
                </div>
                SAIR
            </li>
        </ul>

        <!-- <img class="menu-img" src="../img/menu-marca-dagua.png"> -->
    </div>
</header>