<div id="miniPlayer" ng-controller="miniPlayerController">
    <a href="#/player">
        <img class="icon-player" src="img/icon-disc.png" alt="" />
    </a>
    <a href="#/player" class="aula-info">
        <div class="song-name white">Aula #1</div>
        <div class="info-name light-gray">CD #2</div>
    </a>

    <div ng-click="playPause()" ng-show="!sound.playing()">
        <img class="icon-player" src="img/icon-play.png" alt="PLAY" />
    </div>
    <div ng-click="playPause()" ng-show="sound.playing()">
        <img class="icon-player" src="img/icon-pause.png" alt="PAUSE" />
    </div>
    
</div>