<header ng-include src="'includes/header.html'" id="header-include"></header>
<section id="aula" class="animated fade-in">

    <div class="content-full bg-black mini-player-below" ng-init="init()">
        <div class="search-holder">
            <input class="input-login search-icon no-margin" type="text" ng-model="search" id="usuario" placeholder="Buscar...">
        </div>
        <div class="filter-holder" ng-show="hasFilters">
            <div class="filter-item">
                {{filterCDNome}}
                <div ng-click="closeFilter()" class="filter-close">&times;</div>
            </div>
        </div>
        <div class="aula-container">
            <div class="loader" ng-show="loading">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>

            <div class="aula-item" ng-repeat="aula in aulas | filter: search | orderBy : ['-bpm','-cd.nome']" ng-click="goToPlayer(aula)">
                <div class="aula-disc cd-disc">
                    <div class="cd-hole"></div>
                </div>
                <div class="aula-info">
                    <div class="song-name aula-song-name white">BPM {{aula.bpm}}</div>
                    <div class="info-name light-gray">{{aula.nome}}</div>
                    <div class="info-name light-gray">{{aula.cd.nome}}</div>
                </div>
            </div>
        </div>

    </div>

</section>
<footer ng-include src="'includes/miniPlayer.html'" id="footer-include"></footer>