<section id="login" class="full-cover bg-login">

    <div class="bg-cover" ng-show="showLoading">
        <div class="login-gif-configuration">
            <img src="img/loading.gif" />
            <span>{{configuration_message}}</span>
        </div>
    </div>

    <div class="login">
        <img class="half-img img-login" src="img/nullit-logo.png" alt="Null.it">

        <input class="input-login user-icon" type="text" ng-model="login" id="usuario" placeholder="Usuário">
        <input class="input-login password-icon" type="password" ng-model="senha" id="senha" placeholder="Senha">

        <button class="btn-purple" ng-click="logar(login, senha)">Login</button>

        <a class="text-login" href="https://api.whatsapp.com/send?phone=5511991503769&text=Olá%20Paulinho,%20esqueci%20meu%20Login%20e%20Senha.%20Poderia%20me%20enviar%20por%20gentileza?%20Meu%20nome%20é:%20">Esqueci minha senha</a>
        <a class="text-login" href="https://api.whatsapp.com/send?phone=5511991503769&text=Olá%20Paulinho,%20gostaria%20de%20informações%20para%20continuar%20utilizando%20o%20App.%20Meu%20nome%20é:%20"> Adquirir uma conta.</a>
        
    </div>
    
</section>