<header ng-include src="'includes/header.html'" id="header-include"></header>
<section id="player" class="animated fade-in">

    <div class="content-full bg-black" ng-init="init()">
        <div class="player-container">
            <div class="slider-container">
                <div id="slider"></div>
            </div>

            <form name="rangeForm" id="range-controller">
                <div class="time-info">{{strCurrentPos}}</div>
                <input id="musicRange" name="range" hm-swipe="setPos($event)" hm-tap="setPos($event)" hm-recognizer-options="[{'type': 'swipe','velocity': 0}]" ng-model="rangeValue" type="range" min="0" max="100" value="0" step="0.1" />
                <div class="time-info">{{strDuration}}</div>
            </form>
            
            <div class="player-info">
                <div class="player-song-name white">{{aulaNome}}</div>
                <div class="player-info-name light-gray">{{cdNome}}</div>
            </div>

            <div class="btns-holder">
                <button ng-click="togglePlayPause()" class='btn-play' ng-class="{ 'btn-pause' : playing }"></button>
            </div>
        </div>

    </div>
</section>